.node {
  padding: 10px;

  border-left: 2px solid #ddd;

  margin-left: 20px;
}

.header {
  cursor: pointer;

  display: flex;

  align-items: center;

  gap: 10px;
}

.children {
  margin-left: 20px;
}